.par{
    width:200px;
    height:100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:10px;
   
   
}
.con{
    width:30px;
    height:30px;
    background-color: rgb(0, 0, 0);
    position: relative;
    animation: ro 0.5s infinite ease;
}
.con::after{
    content: " ";
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    top:0px;
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgb(164, 164, 164);
}
@keyframes ro {
    0%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(180deg);}
}