body,html{
  width:100%;
  height:auto;
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  background-color: var(--third-color);
  
}
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
:root{
  --primary-color:    #f0f3f4  ;
  --secondary-color: #99a3a4 ;
  --third-color:  
white

  ;
  --phone-font :14px;
  --dark:black;
  --title:23px;
  --dasktop-font:19px;
  --border:1px solid rgba(186, 185, 185, 0.523);
}